
<div class="container">
  <div class="row">
    <div class="col-6">
  <h4>Cantidad de Objetos   (x)</h4>  
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">

   
      <p>Utilice esta area de texto para agregar cosas</p>
      <form class="form-horizontal">
        <input type="text" class="form-control" name="item" placeholder="Escriba algo aqui">
        <input type="submit" class="btn btn-primary mt-2" value="agregar nombre">
      </form>
    </div>
   
      <div class="col-6 border coolbox">
      <div class="alert alert-dark mt-2" role="alert">
    Asi seran mis objetos

      </div>
     </div>
    </div>
</div>


